body {
  background-color: orange;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#driver, #employee {
	margin-top: 40%;
}

/*.nav {
	background-color: white;
	width: 80%;
	height: 40px;
}*/